<mat-card [ngClass]="{'text-center': !fullWidthMode}">
  <div [ngClass]="{flex: fullWidthMode}">
    <img src="https://via.placeholder.com/150"
      alt="placeholder"
      class="mb-1 mx-auto"
      [ngClass]="{'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode}"
    >
    <div class="w-full p-8"
      [ngClass]="{'flex flex-col justify-between': fullWidthMode}"
    >
      <div>
        <h5>Neo-Soul</h5>
        <p class="truncate hover:whitespace-normal">Janelle Monae</p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>
      <div class="flex justify-between px-1">
        <button>
          <mat-icon class="text-red-400">favorite</mat-icon>
        </button>
        <button>
          <mat-icon class="text-blue-400">library_music</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
