<mat-card class="max-w-7xl mx-auto" *ngIf="activePlaylist$ | async as playlist">
  <mat-card>
    <div class="w-full p-3"
      style="background: url(https://via.placeholder.com/600) no-repeat center center; background-size: cover;">
      <div class="px-3">
        <h2>{{playlist.name}}</h2>
        <p>{{playlist.description}}</p>
        <p class="truncate hover:whitespace-normal">{{playlist.duration}}</p>
      </div>
      <div class="flex justify-between px-1">
        <button>
          <mat-icon class="text-grey-400"></mat-icon>
        </button>
        <button>
          <mat-icon class="text-grey-400"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
  <app-track-box></app-track-box>
  <div>
    {{ tracks }}
  </div>
  <table mat-table [dataSource]="playlist.trackLists ?? []"
    class="mat-elevation-z8 w-full"
  >
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
          <img src="{{element.cover}}" alt="playlist cover image" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button routerLink="/home">Keep Curating</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="track">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <span class="truncate max-w-xs block">{{element.track}}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <span class="truncate max-w-xs block">{{element.name}}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex">
          <span class="truncate max-w-xs block whitespace-normal">{{element.album}}</span>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let element">{{element.artist}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">{{ (element.duration * 1000) | date: 'mm:ss'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="warn">Do Something</button>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="flex justify-between song_actions">
          <button mat-mini-fab class="">
            <mat-icon>play_circle</mat-icon>
          </button>
          <button mat-mini-fab color="blue" class="">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-mini-fab [matMenuTriggerFor]="track_options" color="warn" class="">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #track_options="matMenu">
            <div class="p-3 divide-y divide-solid">
              <div class="py-3">
                <div class="flex justify-between font-light mb-2">
                  Remove from this playlist
                </div>
                <div class="flex justify-between font-light mb-2">
                  New Album From Beethoven
                </div>
                <div class="flex justify-between font-light">
                  Share
                </div>
              </div>
            </div>
          </mat-menu>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="primary" class="float-right" [routerLink]="['/playlists']">Back to Playlists</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

</mat-card>
<mat-card class="max-w-7xl mx-auto" *ngIf="!(activePlaylist$ | async) as playlist">
  <p>
    You do not have any Tracks in this playlist.
    <button mat-raised-button routerLink="/home">Start Curating</button>
  </p>
</mat-card>
