$wave-pat:(
  50: rgb(102,92,112), // theme("colors.wave.50"),
  100: rgb(102,82,122), // theme("colors.wave.100"),
  200: rgb(102,71,133), // theme("colors.wave.200"),
  300: rgb(102,61,143), // theme("colors.wave.300"),
  400: rgb(102,56,148), // theme("colors.wave.400"),
  500: rgb(102,51,153), // theme("colors.wave.500"),
  600: rgb(102,46,158), // theme("colors.wave.600"),
  700: rgb(102,41,163), // theme("colors.wave.700"),
  800: rgb(102,31,173), // theme("colors.wave.800"),
  900: rgb(102,20,184), // theme("colors.wave.900"),
  A100: rgb(255,255,255), // theme("colors.wave.a100"),
  A200: rgb(230,204,255), // theme("colors.wave.a200"),
  A400: rgb(179,140,217), // theme("colors.wave.a400"),
  A700: rgb(128,64,191), // theme("colors.wave.a700"),

  // 50: theme("colors.wave.50"),
  // 100: theme("colors.wave.100"),
  // 200: theme("colors.wave.200"),
  // 300: theme("colors.wave.300"),
  // 400: theme("colors.wave.400"),
  // 500: theme("colors.wave.500"),
  // 600: theme("colors.wave.600"),
  // 700: theme("colors.wave.700"),
  // 800: theme("colors.wave.800"),
  // 900: theme("colors.wave.900"),
  // A100: theme("colors.wave.a100"),
  // A200: theme("colors.wave.a200"),
  // A400: theme("colors.wave.a400"),
  // A700: theme("colors.wave.a700"),

  contrast: (
    50: theme("colors.contrast.50"),
    100: theme("colors.contrast.100"),
    200: theme("colors.contrast.200"),
    300: theme("colors.contrast.300"),
    400: theme("colors.contrast.400"),
    500: theme("colors.contrast.500"),
    600: theme("colors.contrast.600"),
    700: theme("colors.contrast.700"),
    800: theme("colors.contrast.800"),
    900: theme("colors.contrast.900"),
    A100: theme("colors.contrast.a100"),
    A200: theme("colors.contrast.a200"),
    A400: theme("colors.contrast.a400"),
    A700: theme("colors.contrast.a700"),
  ),
);

// $custom-tw: (
//   50:   theme("colors.wave.50") ,
//   100:  theme("colors.wave.100"),
//   200:  theme("colors.wave.200"),
//   300:  theme("colors.wave.300"),
//   400:  theme("colors.wave.400"),
//   500:  theme("colors.wave.500"),
//   600:  theme("colors.wave.600"),
//   700:  theme("colors.wave.700"),
//   800:  theme("colors.wave.800"),
//   900:  theme("colors.wave.900"),
//   A100: theme("colors.wave.a100"),
//   A200: theme("colors.wave.a200"),
//   A400: theme("colors.wave.a400"),
//   A700: theme("colors.wave.a700"),
// );

$accent-pat: (
  // 50: theme("colors.accent.50"),
  // 100: theme("colors.accent.100"),
  // 200: theme("colors.accent.200"),
  // 300: theme("colors.accent.300"),
  // 400: theme("colors.accent.400"),
  500: theme("colors.accent.500"),
  // 600: theme("colors.accent.600"),
  // 700: theme("colors.accent.700"),
  // 800: theme("colors.accent.800"),
  // 900: theme("colors.accent.900"),
  // A100: theme("colors.accent.a100"),
  // A200: theme("colors.accent.a200"),
  // A400: theme("colors.accent.a400"),
  // A700: theme("colors.accent.a700"),
  contrast: (
    50: theme("colors.contrast.50"),
    100: theme("colors.contrast.100"),
    200: theme("colors.contrast.200"),
    300: theme("colors.contrast.300"),
    400: theme("colors.contrast.400"),
    500: theme("colors.contrast.500"),
    600: theme("colors.contrast.600"),
    700: theme("colors.contrast.700"),
    800: theme("colors.contrast.800"),
    900: theme("colors.contrast.900"),
    A100: theme("colors.contrast.a100"),
    A200: theme("colors.contrast.a200"),
    A400: theme("colors.contrast.a400"),
    A700: theme("colors.contrast.a700"),
  ),
);

$warn-pat: (
  // 50: theme("colors.warn.50"),
  // 100: theme("colors.warn.100"),
  // 200: theme("colors.warn.200"),
  // 300: theme("colors.warn.300"),
  // 400: theme("colors.warn.400"),
  500: theme("colors.warn.500"),
  // 600: theme("colors.warn.600"),
  // 700: theme("colors.warn.700"),
  // 800: theme("colors.warn.800"),
  // 900: theme("colors.warn.900"),
  // A100: theme("colors.warn.a100"),
  // A200: theme("colors.warn.a200"),
  // A400: theme("colors.warn.a400"),
  // A700: theme("colors.warn.a700"),
  contrast: (
    50: theme("colors.contrast.50"),
    100: theme("colors.contrast.100"),
    200: theme("colors.contrast.200"),
    300: theme("colors.contrast.300"),
    400: theme("colors.contrast.400"),
    500: theme("colors.contrast.500"),
    600: theme("colors.contrast.600"),
    700: theme("colors.contrast.700"),
    800: theme("colors.contrast.800"),
    900: theme("colors.contrast.900"),
    A100: theme("colors.contrast.a100"),
    A200: theme("colors.contrast.a200"),
    A400: theme("colors.contrast.a400"),
    A700: theme("colors.contrast.a700"),
  ),
);

