@layer {
  // rgb values without the color space qualifier
  :root {
   --background: 9 18 39;
   --foreground: 234 240 255;
   --wave-50: 102 92 112;
   --wave-100: 102 82 122;
   --wave-200: 102 71 133;
   --wave-300: 102 61 143;
   --wave-400: 102 56 148;
   --wave-500: 102 51 153;
   --wave-600: 102 46 158;
   --wave-700: 102 41 163;
   --wave-800: 102 31 173;
   --wave-900: 102 20 184;
   --wave-a100: 255 255 255;
   --wave-a200: 230 204 255;
   --wave-a400: 179 140 217;
   --wave-a700: 128 64 191;
  }
}
