<app-header></app-header>
<!-- Toolbar -->
<div class="toolbar" role="banner">  </div>

<div class="content" role="main">

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<!-- Footer -->
<!-- Media Player Portal -->
<!-- <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template> -->
<app-media-player></app-media-player>
<!-- End of CDK Portal -->
<!-- <footer></footer> -->
