// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use "styles/variables";
@use "styles/palette" as palette;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$wave-app-primary: mat.define-palette(palette.$wave-pat);
$wave-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$wave-app-warn: mat.define-palette(mat.$red-palette);

// $wave-app-bright: mat.define-palette(mat.$red-palette);
// $wave-app-bleak: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $light-theme: mat.define-light-theme((
//   color: (
//     primary: $wave-app-primary,
//     accent: $wave-app-accent,
//     warn: $wave-app-warn,
//     // is-dark: false,
//     // foreground: palette.$dark-theme-foreground-palette,
//     // background: palette.$light-theme-background-palette,
//   )
// ));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $wave-app-primary,
    accent: $wave-app-accent,
    warn: $wave-app-warn,
    is-dark: true,
    // foreground: palette.$light-theme-foreground-palette,
    background: palette.$bleak,
    // background: palette.$dark-theme-background-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

// Apply the dark theme by default
// @include mat.core-theme($dark-theme);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-colors($dark-theme);
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
// @media (prefers-color-scheme: light) {
//   @include mat.all-component-themes($light-theme);
//   @include mat.button-theme($light-theme);
// }

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  // background-color: palette.$bleak;
}
body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: palette.$bleak;
}

